.modulesContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.module {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  transition: all 0.1s ease-in-out;
}

.module:hover {
  transform: scale(1.1);
}
