.seqContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-bottom: 1rem;
}

.step {
  height: 2rem;
  margin-right: 10%;
  margin-left: 10%;
  cursor: pointer;
}

.allSeq {
  width: 33%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr, 0.8fr;
  border-right: 1px solid black;
}

.allSeq:last-child {
  border-right: none;
}

.seqParams {
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
}

.sliderFull {
  width: 95%;
}
