.rackContainer {
  display: flex;
  justify-content: center;
}
.rack {
  display: grid;
  column-gap: 10px;
  padding: 10px;
  width: 80%;
  height: 40%;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid black;
}

.rackSlot {
  height: 10rem;
  border: 1px solid grey;
}

.deleteButton {
  margin-top: 0.5rem;
  background-color: white;
  border: none;
  transition: all 0.1s ease-in-out;
  color: darkred;
}

.deleteButton:hover {
  transform: scale(1.1);
}
